.budget-container {
  width: 100vw;
}
.budget-overview {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0 auto;
  max-width: 100vw;
}

.budget-card {
  background-color: #2c3e50; /* Dark background color */
  border-radius: 5px;
  padding: 10px;
  margin: 1rem;
  text-align: center;
  display: grid;
  /* grid-template-columns: 1fr auto; */
  align-items: center;
  gap: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ecf0f1; /* Light text color */
}

.budget-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.budget-card p {
  font-size: 24px;
  font-weight: 300;
  color: #ecf0f1; /* Light text color */
}

.budget-form {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #ecf0f1; /* Light text color */
  display: flex;
  gap: 20px;
}

.budget-input {
  width: 65%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #34495e; /* Darker border color */
  background-color: #1a252f; /* Dark input background */
  color: #ecf0f1; /* Light text color */
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
}

.budget-button {
  background-color: #2c3e50; /* Dark button background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  width: 30%;
}

.budget-button:hover {
  background-color: #34495e; /* Slightly lighter dark button background */
}
